header {
    height: 8vh;
    background-color: red;
}

main {
    height: 84vh;
}

footer {
    height: 8vh;
    background-color: red;
}

.addService {
    padding: 20px;
}

.serviceName {
    width: 30vw;
}